@import "../configStyle/style.scss";
@import "../configStyle/theme.scss";
.appIndex{
    text-align: center;
    .name{
        font-size: 50px;
        color: red;
        background-color:$themeColor;
    }
}